# PostgreSQL
POSTGRESQL_HOST=
POSTGRESQL_PORT=
POSTGRESQL_ROOT_PASSWORD=
POSTGRESQL_DATABASE=
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

# Finnhub token
FINNHUB_TOKEN=

# Logging
SHOW_SQL=
FORMAT_SQL=
LOG_LEVEL=
APP_LOG_LEVEL=
APP_LOG_LEVEL_HIBERNATE=